PORT=3000
DB_USER=carolina
DB_HOST=127.0.0.1
DB_PASSWORD=''
DB_NAME=e2e_hotel_booking
LOG_PATH=logs/hotel_reservation.log
GOOGLE_EMAIL=carolina99malaga@gmail.com
GOOGLE_APP_PASSWORD=fnawcozwpvdfreaw
SESSION_EXTENSION_MINUTES=30

